# Learning Python

---

## What is a Jupyter Notebook?

A Jupyter notebook is an electronic file that contains both programming code and text descriptions. Jupyter notebooks can also contain embedded charts, plots, images, videos, and links.


## Google Colaboratory

It is a **Jupyter notebook** environment that runs in the cloud and has almost **all packages for machine learning** installed.

It is **free** to use and it offers a free GPU runtime.

---

## Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

#### Magic Commands

Jupyter notebook code cells can contain special commands which are not valid Python code but affect the behavior of the notebook. These special commands are called magic commands.

```
%matplotlib inline # renders Matplotlib plots in cells of the notebook
```
---

## References

- https://try.jupyter.org
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [0]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [0]:
# Addition
num1 + num2

In [0]:
# Subtraction
num2 - num3

In [0]:
# Multiplication
num3 * num4

In [0]:
# Division
num4 / num5

In [0]:
# Exponent
num5 ** num6

In [0]:
# Increment existing variable
num7 += 4
num7

In [0]:
# Decrement existing variable
num6 -= 2
num6

In [0]:
# Multiply & re-assign
num3 *= 5
num3

In [0]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

In [0]:
# Are these two expressions equal to each other?
num1 + num2 == num5

In [0]:
# Are these two expressions not equal to each other?
num3 != num4

In [0]:
# Is the first expression less than the second expression?
num5 < num6

In [0]:
# Is this expression True?
5 > 3 > 1

In [0]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

In [0]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [0]:
# Addition
simple_string1 + ' of using the + operator'

In [0]:
# Notice that the string was not modified
simple_string1

In [0]:
# Multiplication
simple_string2 * 4

In [0]:
# This string wasn't modified either
simple_string2

In [0]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

In [0]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

In [0]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

In [0]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

In [0]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [0]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [0]:
# Items in the list object are stored in the order they were added
list1

In [0]:
# Items in the tuple object are stored in the order they were added
tuple1

In [0]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

In [0]:
# Items in the dict object are not stored in the order they were added
dict1

In [0]:
# Add and re-assign
list1 += [5, 'grapes']
list1

In [0]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

In [0]:
# Multiply
[1, 2, 3, 4] * 2

In [0]:
# Multiply
(1, 2, 3, 4) * 3

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [0]:
# Access the first item in a sequence
list1[0]

In [0]:
# Access the last item in a sequence
tuple1[-1]

In [0]:
# Access a range of items in a sequence
simple_string1[3:8]

In [0]:
# Access a range of items in a sequence
tuple1[:-3]

In [0]:
# Access a range of items in a sequence
list1[4:]

In [0]:
# Access an item in a dictionary
dict1['name']

In [0]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [0]:
# Use the type() function to determine the type of an object
type(simple_string1)

In [0]:
# Use the len() function to determine how many items are in a container
len(dict1)

In [0]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

In [0]:
# Use the callable() function to determine if an object is callable
callable(len)

In [0]:
# Use the callable() function to determine if an object is callable
callable(dict1)

In [0]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

In [0]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

In [0]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

In [0]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

In [0]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

In [0]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

In [0]:
# Use the max() function to determine the largest item in a container
max('gibberish')

In [0]:
# Use the abs() function to determine the absolute value of a number
abs(10)

In [0]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

In [0]:
# Use the repr() function to return a string representation of an object
repr(set1)

## Python object attributes (methods and properties)

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [0]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [0]:
# Return a capitalized version of the string
a_string.capitalize()

In [0]:
# Return an uppercase version of the string
a_string.upper()

In [0]:
# Return a lowercase version of the string
a_string.lower()

In [0]:
# Notice that the methods called have not actually modified the string
a_string

In [0]:
# Count number of occurences of a substring in the string
a_string.count('i')

In [0]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

In [0]:
# Count number of occurences of a substring in the string
a_string.count('is')

In [0]:
# Does the string start with 'this'?
a_string.startswith('this')

In [0]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

In [0]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

In [0]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

In [0]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

In [0]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

## Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

In [0]:
a_list = ['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice']

In [0]:
a_list.append('parrot')
a_list

In [0]:
a_list.extend(['New York', 'Paris'])
a_list

In [0]:
a_list.remove('cats')
a_list

In [0]:
a_list.pop()

In [0]:
a_list.pop(3)

In [0]:
a_list

## Some methods on dict objects

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

In [0]:
age_dict = {"Gabby": 8 , "Maelle": 5}
print(age_dict.keys())
print(age_dict.values())
print(age_dict.items())

In [0]:
age_dict.update([('Peter', 40), ('Mary', 35)])
age_dict

In [0]:
age_dict.pop("Gabby")
age_dict

In [0]:
age_dict.get('Peter')

## Positional arguments and keyword arguments to callables

You can call a function/method in a number of different ways:

- `func()`: Call `func` with no arguments
- `func(arg)`: Call `func` with one positional argument
- `func(arg1, arg2)`: Call `func` with two positional arguments
- `func(arg1, arg2, ..., argn)`: Call `func` with many positional arguments
- `func(kwarg=value)`: Call `func` with one keyword argument 
- `func(kwarg1=value1, kwarg2=value2)`: Call `func` with two keyword arguments
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: Call `func` with many keyword arguments
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: Call `func` with positonal arguments and keyword arguments
- `obj.method()`: Same for `func`.. and every other `func` example

When using **positional arguments**, you must provide them in the order that the function defined them (the function's **signature**).

When using **keyword arguments**, you can provide the arguments you want, in any order you want, as long as you specify each argument's name.

When using positional and keyword arguments, positional arguments must come first.

In [0]:
def positional_function(foo, bar):
    return foo + bar

positional_function(3, 4)

In [0]:
def keyword_function(foo=3, bar=4):
    return foo + bar

print(keyword_function())
print(keyword_function(bar=6, foo=5))
print(keyword_function(7, bar=8))

## Formatting strings and using placeholders

### %-formatting

In [0]:
name = 'Eric'
age = 34
"Hello, %s. You are %s." % (name, age)

### str.format()

In [0]:
"Hello, {}. You are {}.".format(name, age)

In [0]:
"Hello, {1}. You are {0}.".format(age, name)

In [0]:
person = {'name': 'Eric', 'age': 74}
"Hello, {name}. You are {age}.".format(name=person['name'], age=person['age'])

### f-Strings

In [0]:
f"Hello, {name}. You are {age}."

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

In [0]:
color = 'green'
if color == 'red':
    print('The color is red')
elif color == 'green':
    print('The color is green')
else:
    print('The color is not red or green')

In [0]:
i = 0
while i<4:
    print(i)
    i = i+1

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

Python's range() function can be customized by supplying up to three arguments. The general format of the range function is below:

```
range(start,stop,step)
```

In [0]:
for i in range(5,9,1):
    print(i)

In [0]:
my_list = ['electrical','civil','mechanical']
for item in my_list:
    print(item)

In [0]:
for letter in "Gabby":
    print(f"looping over letters in name: {letter}")

## List, and dict comprehensions

List comprehensions offer a **succinct** way to create lists based on existing lists. When using list comprehensions, lists can be built by leveraging any **iterable**, including **strings** and **tuples**.

In [0]:
shark_letters = [letter for letter in 'shark']
shark_letters

### Using Conditionals with List Comprehensions

In [0]:
fish_tuple = ('blowfish', 'clownfish', 'catfish', 'octopus')

fish_list = [fish for fish in fish_tuple if fish != 'octopus']
fish_list

In [0]:
# Another example that uses mathematical operators, integers, and the range() sequence type
number_list = [x ** 2 for x in range(10) if x % 2 == 0]
number_list

### Dictionary Comprehension

In [0]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# Double each value in the dictionary
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
double_dict1

In [0]:
dict1_keys = {k*2:v for (k,v) in dict1.items()}
dict1_keys

In [0]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

# Check for items greater than 2
dict1_cond = {k:v for (k,v) in dict1.items() if v>2}
dict1_cond

## Creating objects from arguments or other objects

The basic types and containers we have used so far all provide **type constructors**:

- `int()`
- `float()`
- `str()`
- `list()`
- `tuple()`
- `set()`
- `dict()`

Up to this point, we have been defining objects of these built-in types using some syntactic shortcuts, since they are so common.

Sometimes, you will have an object of one type that you need to convert to another type. Use the **type constructor** for the type of object you want to have, and pass in the object you currently have.

In [0]:
int(True)

In [0]:
age_dict = {"Gabby": 8 , "Maelle": 5}
age_list = list(age_dict.items())
age_list

## Importing modules

```
import module_name
```

When import is used, it searches for the module initially in the local scope by calling \_\_import\_\_() function.

In [0]:
import math
math.pi

```
import module_name.member_name
```

In [0]:
from math import pi
pi



```
from module_name import *
```

In [0]:
from math import *
print(pi)
print(factorial(6))

## Exceptions

![alt text](https://res.cloudinary.com/dchysltjf/image/upload/f_auto,q_auto:best/v1574436354/error3.png)
[Source](https://files.realpython.com/media/try_except_else_finally.a7fac6c36c55.png)

### Raising an Exception

In [0]:
x = 10
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

### Handling Exceptions: The try and except block

In [0]:
try:
    with open('file.log') as file:
        read_data = file.read()
except:
    print('Could not open file.log')

In [0]:
# To catch this type of exception and print it to screen, you could use the following code:
try:
    with open('file.log') as file:
        read_data = file.read()
except FileNotFoundError as fnf_error:
    print(fnf_error)

In [0]:
try:  
    a = 100 / 0
    print(a)
except ZeroDivisionError:  
    print("Zero Division Exception Raised.")
else:
    print("Success, no error!")
finally:
    print("Always runs!")

## Classes: Creating your own objects

In [0]:
# Define a new class called `Thing` that is derived from the base Python object
class Thing(object):
    my_property = 'I am a "Thing"'


# Define a new class called `DictThing` that is derived from the `dict` type
class DictThing(dict):
    my_property = 'I am a "DictThing"'

In [0]:
print(Thing)
print(type(Thing))
print(DictThing)
print(type(DictThing))
print(issubclass(DictThing, dict))
print(issubclass(DictThing, object))

In [0]:
# Create "instances" of our new classes
t = Thing()
d = DictThing()
print(t)
print(type(t))
print(d)
print(type(d))

In [0]:
# Interact with a DictThing instance just as you would a normal dictionary
d['name'] = 'Sally'
print(d)

In [0]:
d.update({
        'age': 13,
        'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'],
        'fav_color': 'green',
    })
print(d)

In [0]:
print(d.my_property)

### Magic Methods: \_\_init__

More info: [A Guide to Python's Magic Methods](https://rszalski.github.io/magicmethods/)

What are magic methods? They're everything in object-oriented Python. They're special methods that you can define to add "magic" to your classes. They're always surrounded by double underscores (e.g. `__init__` or `__lt__`).

The most basic magic method is `__init__`. It's the way that we can define the initialization behavior of an object.

In [0]:
class Point(object):
    """ Point class represents and manipulates x,y coords. """

    def __init__(self, x=0, y=0):
        """ Initialize a new point at x, y """
        self.x = x
        self.y = y

In [0]:
p = Point(2, 3)
p.x, p.y

### Other "magic methods"

In [0]:
# Comparison magic methods
class Word(str):
    '''Class for words, defining comparison based on word length.'''

    def __new__(cls, word):
        # Note that we have to use __new__. This is because str is an immutable
        # type, so we have to initialize it early (at creation)
        if ' ' in word:
            print('Value contains spaces. Truncating to first space.')
            word = word[:word.index(' ')] # Word is now all chars before first space
        return str.__new__(cls, word)

    def __gt__(self, other):
        return len(self) > len(other)
    def __lt__(self, other):
        return len(self) < len(other)
    def __ge__(self, other):
        return len(self) >= len(other)
    def __le__(self, other):
        return len(self) <= len(other)

In [0]:
word1 = Word('dog')
word2 = Word('zebra')
print(word1 > word2)
print(word1 < word2)

## Context managers and the "with statement"

Using `with`, we can call anything that returns a context manager (like the built-in `open()` function). We assign it to a variable using ... `as <variable_name>`. Crucially, the variable only exists within the indented block below the with statement.

The `with` statement clarifies code that previously would use try...finally blocks to ensure that clean-up code is executed

```
with expression [as variable]:
    with-block
```

To use with statement in user defined objects you only need to add the methods `__enter__()` and `__exit__()` in the object methods.

In [0]:
from threading import Lock
lock = Lock()

def do_something_dangerous():
    with lock:
        raise Exception('oops I forgot this code could raise exceptions')

try:
    do_something_dangerous()
except:
    print('Got an exception')
lock.acquire()
print('Got here')

---
**[Week 1 - Python](https://radu-enuca.gitbook.io/ml-challenge/python)**

*Have questions or comments? Visit the ML Challenge Mattermost Channel.*